# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

We need to install with pip or conda in command prompt:

    conda install sqlalchemy
    conda install xlrd
    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

    pip install sqlalchemy
    pip install xlrd
    pip install openpyxl
    pip install lxml
    pip install html5lib
    pip install BeautifulSoup4

## CSV

### CSV Input

In [13]:
import pandas as pd

In [14]:
# know the working directory

In [15]:
pwd

'E:\\Python-for-data-science\\02_Pandas'

In [16]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [17]:
#to save
df.to_csv('My_output',index=False)

In [18]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

In [19]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [20]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='NewSheet')

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [21]:
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [22]:
type(data)

list

In [23]:
df[0]

KeyError: 0

# SQL
The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. 

Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. 

Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. 

For SQLite this is included in Pythonâ€™s standard library by default. 

You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [24]:
from sqlalchemy import create_engine

In [25]:
engine = create_engine('sqlite:///:memory:')

In [26]:
data = [{'id': 1, 'name': 'Alice'}, {'id': 2, 'name': 'Bob'},{'id':3, 'name':'Masood'}]
df = pd.DataFrame(data)
df

   id    name
0   1   Alice
1   2     Bob
2   3  Masood

In [27]:
df.to_sql('df', engine)

3

In [28]:
sql_df1 = pd.read_sql('df',con=engine)

In [29]:
sql_df1

   index  id    name
0      0   1   Alice
1      1   2     Bob
2      2   3  Masood